<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <h2>Raspberry Pi Sense HAT Telemetry</h2>
    <table style="width:30%">
        <tr>
            <th align="left">Telemetry</th>
            <th align="left">Value</th>
        </tr>
        <tr>
            <td>Temperature</td>
            <td>{{ temperature }} C</td>
        </tr>
        <tr>
            <td>Humidity</td>
            <td>{{ humidity }} %</td>
        </tr>
        <tr>
            <td>Pressure</td>
            <td>{{ pressure }} hPa</td>
        </tr>
        <tr>
        <td>CPU Temperature</td>
            <td>{{ cputemperature }} hPa</td>
        </tr>
    </table>
</body>